<a href="https://colab.research.google.com/github/actchristo/Python/blob/main/Python_Data_Science_a2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import io

from google.colab import files

In [ ]:
file_uploaded = files.upload()

Saving AB_NYC_2019.csv to AB_NYC_2019.csv

In [ ]:
df = pd.read_csv(io.BytesIO(file_uploaded['AB_NYC_2019.csv']))

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape

(48895, 16)

In [ ]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [ ]:
# Tipos de dados das colunas

df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [ ]:
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [ ]:
# Como selecionar colunas em uma planilha
cols = ['host_name', 'price']
df.loc[:, cols]

In [ ]:
df1 = df.dropna()

In [ ]:
# total de linhas 48895
dados_totais = df.shape
dados_totais

(48895, 16)

In [ ]:
# dados_nao_nulos 38821
dados_nao_nulos = df1.shape
dados_nao_nulos

(38821, 16)

In [ ]:
# dados faltantes 48895 - 38821 = 10074
# Dados_faltantes = dados_totais - dados_nao_nulos

Dados_faltantes = 48895 - 38821
Dados_faltantes

10074

In [ ]:
# Média do aluguel

cols = ['price']
price = df1.loc[:, cols]

np.mean(price)

price    142.332526
dtype: float64

In [ ]:
# Nome das Regiões

cols = ['neighbourhood_group']
regiao = df1.loc[:, cols]
np.unique(regiao)

array(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

In [ ]:
# Valor máximo do aluguel

cols = ['price']
price = df1.loc[:, cols]
np.max(price)

price    10000
dtype: int64

In [ ]:
# Máximo reviews

cols = ['number_of_reviews']
reviews = df1.loc[:, cols]
np.max (reviews)

number_of_reviews    629
dtype: int64

In [ ]:
# Exercicio 5 - selecionar colunas em uma planilha
cols = ['id', 'name', 'latitude', 'longitude', 'room_type', 'price', 'number_of_reviews']
df1.loc[:, cols]

,id,name,latitude,longitude,room_type,price,number_of_reviews
0,2539,Clean & quiet apt home by the park,40.64749,-73.97237,Private room,149,9
1,2595,Skylit Midtown Castle,40.75362,-73.98377,Entire home/apt,225,45
3,3831,Cozy Entire Floor of Brownstone,40.68514,-73.95976,Entire home/apt,89,270
4,5022,Entire Apt: Spacious Studio/Loft by central park,40.79851,-73.94399,Entire home/apt,80,9
5,5099,Large Cozy 1 BR Apartment In Midtown East,40.74767,-73.97500,Entire home/apt,200,74
...,...,...,...,...,...,...,...
48782,36425863,Lovely Privet Bedroom with Privet Restroom,40.78099,-73.95366,Private room,129,1
48790,36427429,No.2 with queen size bed,40.75104,-73.81459,Private room,45,1
48799,36438336,Seas The Moment,40.54179,-74.14275,Private room,235,1
48805,36442252,1B-1B apartment near by Metro,40.80787,-73.92400,Entire home/apt,100,2
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",40.69805,-73.92801,Private room,30,1

In [ ]:
# Exercicio 6
# Valor minimo do aluguel

cols = ['price']
price = df1.loc[:, cols]
np.min(price)

price    0
dtype: int64

In [ ]:
# Media do aluguel minimo

cols = ['price']
price = df1.loc[:, cols]

np.mean(price)

In [ ]:
# Exercicio 9 - Minimo reviews

cols = ['number_of_reviews']
reviews = df1.loc[:, cols]
np.min (reviews)

number_of_reviews    1
dtype: int64